In [21]:
import pandas as pd

In [22]:
file_path = './resources/iris.csv'
iris_df = pd.read_csv(file_path)
iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [23]:
new_iris_df = iris_df.drop(['class'], axis=1)
new_iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [24]:
cols = list(new_iris_df.columns.values)

In [25]:
new_iris_df = new_iris_df[['sepal_length', 'petal_length', 'sepal_width', 'petal_width']]
new_iris_df.head()

   sepal_length  petal_length  sepal_width  petal_width
0           5.1           1.4          3.5          0.2
1           4.9           1.4          3.0          0.2
2           4.7           1.3          3.2          0.2
3           4.6           1.5          3.1          0.2
4           5.0           1.4          3.6          0.2

In [26]:
save_path = './resources/new_iris_data.csv'
new_iris_df.to_csv(save_path, index=False)

In [27]:
shopping_file_path = './resources/shopping_data.csv'
shopping_df = pd.read_csv(shopping_file_path, encoding='ISO-8859-1')
shopping_df.head()

   CustomerID Card Member   Age  Annual Income  Spending Score (1-100)
0           1         Yes  19.0          15000                    39.0
1           2         Yes  21.0          15000                    81.0
2           3          No  20.0          16000                     6.0
3           4          No  23.0          16000                    77.0
4           5          No  31.0          17000                    40.0

In [28]:
# Columns
shopping_df.columns

Index(['CustomerID', 'Card Member', 'Age', 'Annual Income',
       'Spending Score (1-100)'],
      dtype='object')

In [29]:
shopping_df.dtypes

CustomerID                  int64
Card Member                object
Age                       float64
Annual Income               int64
Spending Score (1-100)    float64
dtype: object

In [30]:
# Find null values
for column in shopping_df.columns:
    print(f'Column {column} has {shopping_df[column].isnull().sum()} null values.')

Column CustomerID has 0 null values.
Column Card Member has 2 null values.
Column Age has 2 null values.
Column Annual Income has 0 null values.
Column Spending Score (1-100) has 1 null values.

In [31]:
# Drop the null rows in the DF
shopping_df = shopping_df.dropna()

In [33]:
# Check for duplicates
print(f'Duplicate Entries: {shopping_df.duplicated().sum()}')

Duplicate Entries: 0

In [36]:
# Remove the customerID column
shopping_df.drop(columns=['CustomerID'], inplace=True)

In [38]:
# Transform Card member column
def change_string(member):
    if member == 'Yes':
        return 1
    else:
        return 0
shopping_df['Card Member'] = shopping_df['Card Member'].apply(change_string)
shopping_df.head()

   Card Member   Age  Annual Income  Spending Score (1-100)
0            1  19.0          15000                    39.0
1            1  21.0          15000                    81.0
2            0  20.0          16000                     6.0
3            0  23.0          16000                    77.0
4            0  31.0          17000                    40.0

In [39]:
# Sacle the annual income column
shopping_df['Annual Income'] = shopping_df['Annual Income'] / 1000
shopping_df.head()

   Card Member   Age  Annual Income  Spending Score (1-100)
0            1  19.0           15.0                    39.0
1            1  21.0           15.0                    81.0
2            0  20.0           16.0                     6.0
3            0  23.0           16.0                    77.0
4            0  31.0           17.0                    40.0

In [41]:
# Saving cleaned data
export_shopping_file_path = './resources/shopping_data_cleaned.csv'
shopping_df.to_csv(export_shopping_file_path, index=False)