In [1]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, LabelEncoder

%matplotlib inline

In [2]:
df = pd.read_csv('../Resources/marathon_results_2019.csv')
df.head()

,Bib,Name,Age,M/F,City,State,Country,Citizen,Unnamed: 8,5K,...,25K,30K,35K,40K,Pace,Proj Time,Official Time,Overall,Gender,Division
0,2,"Cherono, Lawrence",30,M,Eldoret,NaN,KEN,NaN,NaN,0:15:11,...,1:16:23,1:32:01,1:47:16,2:01:45,0:04:53,NaN,2:07:57,1,1,1
1,6,"Desisa, Lelisa",29,M,Ambo,NaN,ETH,NaN,NaN,0:15:10,...,1:16:24,1:32:01,1:47:16,2:01:46,0:04:53,NaN,2:07:59,2,2,2
2,7,"Kipkemoi, Kenneth",34,M,Eldoret,NaN,KEN,NaN,NaN,0:15:14,...,1:16:24,1:32:01,1:47:16,2:01:45,0:04:54,NaN,2:08:07,3,3,3
3,8,"Kandie, Felix",32,M,Iten,NaN,KEN,NaN,NaN,0:15:14,...,1:16:24,1:32:01,1:47:16,2:02:08,0:04:55,NaN,2:08:54,4,4,4
4,11,"Kirui, Geoffrey",26,M,Keringet,NaN,KEN,NaN,NaN,0:15:12,...,1:16:23,1:32:01,1:47:16,2:01:57,0:04:56,NaN,2:08:55,5,5,5

In [3]:
# Subset the dataframe to only the columns "Age", "M/F", split times (i.e. "5K, 10K", etc.), "Pace", and "Official Time". 
subset_df = df[['Age', 'M/F', '5K', '10K', '15K', '20K', 'Half', '25K', '30K', '35K', '40K', 'Pace', 'Official Time']].copy()

In [4]:
# Convert the split times, "Pace", and "Official Time" to timedeltas using apply() and pandas.to_timedelta()
subset_df[['5K', '10K', '15K', '20K', 'Half', '25K', '30K', '35K', '40K', 'Pace', 'Official Time']] = subset_df[['5K', '10K', '15K', '20K', 'Half', '25K', '30K', '35K', '40K', 'Pace', 'Official Time']].apply(pd.to_timedelta)

In [5]:
# Convert timedeltas to seconds by applying the lambda function lambda x: x.dt.total_seconds()
subset_df[['5K', '10K', '15K', '20K', 'Half', '25K', '30K', '35K', '40K', 'Pace', 'Official Time']] = subset_df[['5K', '10K', '15K', '20K', 'Half', '25K', '30K', '35K', '40K', 'Pace', 'Official Time']].apply(lambda x: x.dt.total_seconds())

In [6]:
# Subset df to only rows where the split values are non-zero
subset_df = subset_df[~(df == 0).any(axis=1)]

In [7]:
# Use LabelEncoder to convert 'M/F' into integer labels
subset_df['M/F'] = LabelEncoder().fit_transform(subset_df['M/F'])

In [ ]:
# Convert 'Age' to a numeric value

In [8]:
# 'Pace' should be perfectly correlated with 'Official Time', so we'll remove it from our X data (but keep it for analysis)
# Plot a scatter plot of 'Pace' against 'Official Time' to make sure
subset_df.dtypes

Age                int64
M/F                int32
5K               float64
10K              float64
15K              float64
20K              float64
Half             float64
25K              float64
30K              float64
35K              float64
40K              float64
Pace             float64
Official Time    float64
dtype: object

In [ ]:
# Create a training set 'X' with every column except 'Pace'
### YOUR CODE HERE ###

In [9]:
# Scale the dataset using MinMaxScaler()
subset_scaled = pd.DataFrame(MinMaxScaler().fit_transform(subset_df))

In [10]:
subset_scaled

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.184615,1.0,0.272591,0.312029,0.311954,0.296499,0.295682,0.283163,0.275073,0.270273,0.275671,0.000000,0.000000
1,0.169231,1.0,0.272292,0.312200,0.311727,0.296499,0.295759,0.283225,0.275073,0.270273,0.275709,0.000000,0.000099
2,0.246154,1.0,0.273489,0.312200,0.311840,0.296580,0.295835,0.283225,0.275073,0.270273,0.275671,0.001300,0.000496
3,0.215385,1.0,0.273489,0.312543,0.311840,0.296499,0.295835,0.283225,0.275073,0.270273,0.276539,0.002601,0.002829
4,0.123077,1.0,0.272890,0.312029,0.311727,0.296419,0.295606,0.283163,0.275073,0.270273,0.276124,0.003901,0.002878
...,...,...,...,...,...,...,...,...,...,...,...,...,...
26642,0.369231,1.0,0.485937,0.567855,0.618004,0.620907,0.630875,0.696509,0.805740,0.878428,0.927356,0.911573,0.911865
26643,0.153846,1.0,0.901257,1.000000,1.000000,0.952815,0.953000,0.924560,0.899756,0.895141,0.000000,0.918075,0.918168
26644,0.538462,1.0,0.706463,0.870973,0.902032,0.912889,0.921972,0.913191,0.907279,0.910175,0.000000,0.921977,0.921939
26645,0.507692,0.0,0.702873,0.844071,0.896583,0.908856,0.920673,0.911956,0.911165,0.922311,0.000000,0.946684,0.945958
26646,0.738462,1.0,0.000000,0.830021,0.953911,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000